/****************************************
                Common
*****************************************/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #e3e3e3;
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.type1 a,
.type2 a,
.type3 a,
.type4 a {
    text-decoration: none;
    transition: color 0.2s ease-out;
}

main {
    max-width: 960px;
    margin: auto;
    padding-bottom: 40px;
}

.tbl_wrapper {
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    margin: 20px auto;
    padding: 0;
    background: rgba(34, 31, 31, 0.603);
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    position: relative;
    margin-top: 5px;
}

.type1         { border-left: #1c616c 5px solid; }
.type1:hover   { border-left: #4fc0d2 5px solid; }
.type1 a       { color:       #4fc0d2;           }
.type1 a:hover { color:       #268695;           }

.type2         { border-left: #1d6e4b 5px solid; }
.type2:hover   { border-left: #52d29a 5px solid; }
.type2 a       { color:       #52d29a;           }
.type2 a:hover { color:       #279766;           }

.type3         { border-left: #9d7919 5px solid; }
.type3:hover   { border-left: #e7c468 5px solid; }
.type3 a       { color:       #e7c468;           }
.type3 a:hover { color:       #c99a20;           }

.type4         { border-left: #952f12 5px solid; }
.type4:hover   { border-left: #eb7655 5px solid; }
.type4 a       { color:       #eb7655;           }
.type4 a:hover { color:       #c33d17;           }


p { margin: 0; }

main.title {
    font-size: 0;
    font-weight: bold;
    background-color: rgba(34, 31, 31, 0.603);
    border-left: 5px solid rgba(255, 255, 255, 0.603);
}

.row {
    padding: 10px 0;
    height: auto;
    font-size: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-out;
    border-top: 1px solid rgba(0, 0, 0, 0.603);
    background-color: rgba(34, 31, 31, 0.603);
}

.row:hover {
    background-color: rgba(26, 26, 26, 0.9);
}

.row ul {
    margin: 0;
    padding: 0;
}

/****************************************
        Mobile Support
*****************************************/

@media only screen and (max-width: 767px) {
    .title ul li {
        font-size: 14px !important;
    }
}
@media only screen and (max-width: 480px) {
    .row {
        padding: 5px 0;
    }
}