<style>
    /****************************************
                    Footer 
    *****************************************/

    footer {
        position: relative;
        width: 100%;
        bottom: 0;
    }

    /* Create three equal columns that floats next to each other */
    footer .column {
        float: left;
        width: 33.33%;
        position: relative;
        background-color: #3e3e3e;
        color: white;
        min-height: 51px;
        padding: 10px 0px;
    }

    footer .column a {
        padding: 10px 10px;
        font-size: 16px;
        color: inherit;
    }

    .right,
    .right * {
        text-align: right;
    }

    .center {
        text-align: center;
    }

    #btc_img {
        width: 20px;
        height: 20px;
    }
</style>
<footer>
    <div class="column">
        <a href="/donate">
            <img id="btc_img" src="/btc_logo.png" alt="" /> Donate
        </a>
    </div>
    <div class="column center">
        <p>Created by an independent solo developer.</p>
    </div>
    <div class="column right">
        <a href="/donate">Feedback / Contact</a>
    </div>
    <footer></footer>
</footer>
