<footer>
    <div class="column">
        <a href="/donate">
            <img id="btc_img" src="/btc_logo.png" alt="" /> Donate
        </a>
    </div>
    <div class="column center">
        <p>Created by an independent solo developer.</p>
        <!-- <p>BTC: bc1qgfv4hzsggnxp8zy52l2rsf9j50tgpfq489n3xy</p>
        <p>ETH: 0xeC526f920D414B8e67724ce2C3F40e8b5a8527D1</p> -->
    </div>
    <div class="column right">
        <a href="/donate">Feedback / Contact</a>
    </div>
    <footer></footer>
</footer>
