<style>
    /****************************************
                    Footer 
    *****************************************/
    
    footer {
        position: absolute;
        width: 100%;
        bottom: 0;
        min-height: 40px;
        background: #003c60;
        color: white;
        /* margin-top: auto; */
    }

    /* Create three equal columns that floats next to each other */
    footer .column {
        float: left;
        width: 25%;
        padding: 10px 0;
    }

    footer .column a {
        padding: 5px 5px;
        font-size: 16px;
        color: inherit;
        text-decoration: none ;
        color: white;
        border-radius: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .c4,
    .c4 * {
        text-align: right;
    }

    .c2, .c3 {
        text-align: center;
    }

    #btc_img {
        width: 20px;
        height: 20px;
    }

    /****************************************
                    Footer 
    *****************************************/
    @media only screen and (max-width: 968px) {
        footer {
            position: fixed;
        }
    }

    @media only screen and (max-width: 520px) {
        footer {
            min-height: 20px;
        }
        footer .column {
            font-size: 10px;
            padding: 5px 0;
        }

        footer .column a {
            font-size: 13px;
        }
    }


</style>
<footer>
    <div class="column c1">
        <a href="/donate">
            <!-- <img id="btc_img" src="/btc_logo.png" alt="" />  -->
            Donate
        </a>
    </div>
    <div class="column c2">
            <a href="https://twitter.com/Zach_Glass">Twitter</a><br>
    </div>
    <div class="column c3">
        <a href="https://github.com/ZacheryGlass/StablecoinWatch">Github</a>
    </div>
    <div class="column c4">
        <a href="https://docs.google.com/forms/d/1pfUwREIEKaYDjhtzx-1hUFgW-aiDtFHV9FLa-xlcZ2g">Feedback</a>
    </div>
</footer>
