<footer>
    <div class="column">
        <a href="/donate">
            <img id="btc_img" src="/btc_logo.png" alt="" /> Donate
        </a>
    </div>
    <div class="column center">
        <p>Created by an independent solo developer.</p>
    </div>
    <div class="column right smalltext">
        <a href="/contact">Feedback / Contact</a>
    </div>
    <footer></footer>
</footer>
