<style>
    /****************************************
                    Header
    *****************************************/
    header {
        background: #003c60;
        padding-top: 10px;
    }

    header img {
        max-height: 90px;
        max-width: 75%;
        border-radius: 10px;
        margin: 0;
        padding: 0;
    }

    header {
        text-align: center;
        margin: 0;
        padding: 5px;
    }

    /****************************************
                    buttons
    *****************************************/
    .btn:link,
    .btn:visited {
        text-decoration: none;
        padding: 10px 0;
        margin: 2px;
        display: inline-block;
        border-radius: 10px;
        transition: all 0.2s;
        user-select: none;
        width: 40%;
        min-width: 100px;
    }

    .btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    .btn-white {
        background-color: #fff;
        color: #777;
    }
    .disabled {
        opacity: 0.6;
        pointer-events: none;
        cursor: not-allowed;
    }
    /****************************************
                    bar
    *****************************************/
    .bar {
        margin: 0 auto;
        padding: 0;
        background: #007ac1;
        text-align: center;
        width: 100%;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            'a b c'
            'd b f';
        align-items: center;
        color: white;
        font-weight: bold;
        max-width: 960px;
        margin: auto;
        padding: 0.25rem 0;
    }

    .grid > * {
        margin-left: 5px;
        margin-right: 5px;
    }

    .grid .a { grid-area: a; }
    .grid .b { grid-area: b; }
    .grid .c { grid-area: c; }
    .grid .d { grid-area: d; }
    .grid .f { grid-area: f; }

    .left_grid  { text-align: left;  }
    .right_grid { text-align: right; }

    /****************************************
                Mobile Support
    *****************************************/
    @media only screen and (max-width: 767px) {
        .grid       { grid-template-columns:
                      1fr 300px 1fr;        }
        .left_grid  { text-align: center;   }
        .right_grid { text-align: center;   }
        .bar        { font-size: 12px;      }
    }

    @media only screen and (max-width: 620px) {
        .grid       { grid-template-columns:
                      1fr 1fr 1fr;          }
    }

</style>
<header>
    <a href="/"><img src="/site_logo.png" alt="Stablecoin Watch" /></a>
</header>
<div class="bar">
    <div class="grid">
        <section class="a left_grid">
            Total Market Cap:&nbsp;<%=data.metrics.totalMCap_s%>
        </section>
        <section class="b">
            <% if ( active === 'home' ) { %>
            <a href="/" class="btn btn-white disabled">Coins</a>
            <% } else { %>
            <a href="/" class="btn btn-white">Coins</a>
            <% } %> <% if ( active === 'chains' ) { %>
            <a href="/chains" class="btn btn-white disabled">Chains</a>
            <% } else { %>
            <a href="/platforms" class="btn btn-white">Chains</a>
            <% } %>
        </section>
        <section class="c right_grid">
            Total $ on ETH: <%=totalETHMCap_s%>
        </section>
        <section class="d left_grid">
            Total 24h Volume: <%=data.metrics.totalVolume_s%>
        </section>
        <section class="f right_grid">
            Total % on ETH: <%= ((totalETHMCap/data.metrics.totalMCap)*100).toFixed(1)%>%
        </section>
    </div>
</div>
