<style>
/****************************************
                BAR 
*****************************************/
.bar {
    background: #007ac1;
    padding: 3px 20px;
    min-height: 38px;
}

.bar .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

.col33 {
    /* float: left; */
    display: inline-block;
    width: 33%;
    list-style-type: none;
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.colright {
    text-align: right;
}

.bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#btc_img {
    width: 20px;
    height: 20px;
}

/****************************************
                Buttons
*****************************************/
.button_container {
    margin: auto;
    text-align: center;
}

.button {
    background-color: #003c60;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #0066ff;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
</style>
<header>
    <h1>
        <a href="/"><img src="/site_logo.png" alt="Stablecoin Watch" /></a>
    </h1>
</header>
<div class="bar">
    <div class="container">
        <div class="col33 colleft">
            <ul>
                <li>
                    Total Market Cap:&nbsp;<%=totalMCap_s%>
                </li>
                <li>
                    Total 24h Volume: <%=totalVolume_s%>
                </li>
            </ul>
        </div>
        <div class='col33 colcenter'>
            <div class="button_container">
                <% if ( active === 'home' ) { %>
                    <button class="button disabled">Coin View</button>
                <% } else { %>
                    <a href="/"><button class="button">Coin View</button></a>
                <% } %>
                <% if ( active === 'chains' ) { %>
                    <button class="button disabled">Coin View</button>
                <% } else { %>
                    <a href="/chains"><button class="button">Chain View</button></a>
                <% } %>
            </div>
        </div>
        <div class="col33 colright">
            <ul>
                <li>
                    Total $ on ETH: <%=totalETHMCap_s%>
                </li>
                <li>
                    Total % on ETH:&nbsp;&nbsp;&nbsp;<%=
                    ((totalETHMCap/totalMCap)*100).toFixed(1)%>%
                </li>
            </ul>
        </div>
    </div>
</div>
