<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Stablecoin Watch</title>
        <link rel="stylesheet" type="text/css" href="/common.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            #donate_section {
                padding: 20px;
                background-color: #e3e3e3;
                border-radius: 5px;
                color: black;
                font-weight: bold;
                font-size: 16px;
            }

            #donate_section ul {
                margin: auto;
                list-style: none;
                padding: 0;
                margin: 0;
            }

            #donate_section ul li {
                margin: auto;
                list-style: none;
                text-align: center;
                padding-bottom: 10px;
                border-bottom: 1px solid black;
            }

            #donate_section img {
                max-width: 200px;
            }

            .btc {
                color: rgb(255, 185, 88);
            }
            .bch {
                color: rgb(0, 175, 0);
                /* text-shadow: 1px 1px black; */
            }
            .eth {
                color: #007ac1;
            }
            .xmr {
                color: orangered;
            }
            p.xmr {
                font-size: 14px;
            }
            .small {
                font-size: 12px;
                margin: 0;
            }

            .address {
                padding: 10px;
                overflow: scroll;
            }

        </style>
    </head>
    <body>
        <div id="wrapper">

            <!-- Header -->
            <%- include('partials/header') %>
            <!-- Header -->

            <main>
                <section id="donate_section" class="wrapper">
                    <ul>
                        <li>
                            <h1>Contact / Feedback</h2><br>
                            <p>info@stablecoinwatch.com</p>
                            <br />
                            <br />
                            <h1>Donate</h2>
                        </li>
                        <li>
                            <h2 class="btc">Bitcoin</h2>
                            <img src="/btcqr.png" alt="" />
                            <p class="address btc">bc1qgfv4hzsggnxp8zy52l2rsf9j50tgpfq489n3xy</p>
                        </li>
                        <li>
                            <h2 class="eth">
                                Ethereum
                                <span class="small"><br />& ERC-20</span>
                            </h2>
                            <img src="ethqr.png" alt="" />
                            <p class="address eth">0xeC526f920D414B8e67724ce2C3F40e8b5a8527D1</p>
                        </li>
                        <li>
                            <h2 class="bch">
                                Bitcoin Cash
                            </h2>
                            <img src="bchqr.png" alt="" />
                            <p class="address bch">qqsnamltmnuez9qnsl5c6x590rgpwr730sarp4txg4</p>
                        </li>
                        <li>
                            <h2 class="xmr">
                                Monero
                            </h2>
                            <img src="xmrqr.png" alt="" />
                            <p class="address xmr">87kMWF9FV3MS1VtYdkG3QhYAo1aCLcM8xQa7a6zBQjN7dLqGMja6Za2EJP8B6ctZXz9N3y26thqA2F3Y2Ah7xP14GeZe4ha</p>
                        </li>
                    </ul>
                </section>
            </main>
            <!-- Footer -->
            <%- include('partials/footer') %>
            <!-- Footer -->
        </div>
    </body>
</html>
