main {
    max-width: 960px;
    margin: auto;
}
h1 {
    color: white;
    text-align: center;
    font-weight: bold;
}
/* h2 {
    float: right;
} */
body {
    font-family: arial;
    margin: 0;
}
header {
    background: #003c60;
    padding: 10px 20px;
}

.header2 {
    background: #007ac1;
    padding: 10px 20px;
}
.header2 ul {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
.header2 li {
    list-style-type: none;
    display: inline-block;
    /* margin: 0 10px 0 0; */
    text-align: right;
    color: white;
    font-weight: bold;
}

.right {
    text-align: right;
    float: right;
}

header a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    background: rgb(110, 107, 255);
    text-decoration: none;
    padding: 10px;
    display: block;
}

.split * {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    /* padding: 10px; */
    position: relative;
}

footer .column {
    background-color: #3e3e3e;
    color: white;
    /* font-size: 10px; */
    min-height: 51px;
    padding: 10px 0px;
}

footer .column a {
    padding: 10px 10px;
}

.split:after {
    content: '';
    display: table;
    clear: both;
}

.smalltext {
    font-size: 11px;
}

.center {
    /* margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) */
    text-align: center;
}

.right * {
    text-align: right;
}

/* footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
} */

footer a {
    /* text-decoration: none; */
    color: inherit;
}

#btc_img {
    width: 20px;
    height: 20px;
}

p {
    margin: 0;
}

.more-content li {
    padding: 0px;
    text-align: inherit;
}

.supply_list li,
.supply_list {
    padding: 0;
    top: 0;
    font-size: 14px;
    list-style: none;
}
