/****************************************
                Header
*****************************************/
header {
    background: #003c60;
    padding: 10px 20px;
}

/* header a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    background: rgb(110, 107, 255);
    text-decoration: none;
    padding: 10px;
    display: block;
} */

header img {
    height: 90px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

h1,
h1 a {
    text-align: center;
    margin: 0;
    padding: 0;
}

/****************************************

*****************************************/
main {
    max-width: 960px;
    margin: auto;
}

body {
    font-family: arial;
    margin: 0;
}

.right {
    text-align: right;
    float: right;
}

.smalltext {
    font-size: 11px;
}

.center {
    /* margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) */
    text-align: center;
}

.right * {
    text-align: right;
}

footer a {
    /* text-decoration: none; */
    color: inherit;
}

.more-content li {
    padding: 0px;
    text-align: inherit;
}

.supply_list li {
    padding: 0;
    top: 0;
    font-size: 14px;
    list-style: none;
    transform: translateY(-20px);
}

@media only screen and (max-width: 767px) {
    .supply_list li {
    font-size: 10px !important;
}
}

/****************************************
                Footer 
*****************************************/

.split * {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    /* padding: 10px; */
    position: relative;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
}

footer .column {
    background-color: #3e3e3e;
    color: white;
    /* font-size: 10px; */
    min-height: 51px;
    padding: 10px 0px;
}

footer .column a {
    padding: 10px 10px;
    font-size: 16px;
}

.split:after {
    content: '';
    display: table;
    clear: both;
}

p {
    margin: 0;
}

/****************************************
                BAR 
*****************************************/
.bar {
    background: #007ac1;
    padding: 3px 20px;
    min-height: 38px;
}

.bar .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

.col50 {
    float: left;
    width: 50%;
    list-style-type: none;
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.colright {
    text-align: right;
}

.bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#btc_img {
    width: 20px;
    height: 20px;
}



/****************************************
                Buttons
*****************************************/
.button_container {
    margin: auto;
    text-align: center;
}

.button {
    background-color: #457ACC;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #0066ff;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}