/* colors */
/* body */
body {
    background: #e3e3e3;
    font-family: 'Open Sans', sans-serif;
}

/* links */
.type1 a,
.type2 a,
.type3 a,
.type4 a {
    text-decoration: none;
    transition: color 0.2s ease-out;
}

.type1 a {
    color: #4fc0d2;
}

.type1 a:hover {
    color: #268695;
}

.type2 a {
    color: #52d29a;
}

.type2 a:hover {
    color: #279766;
}

.type3 a {
    color: rgba(231, 196, 104, 0.7);
}

.type3 a:hover {
    color: rgba(201, 154, 32, 0.7);
}

.type4 a {
    color: #eb7655;
}

.type4 a:hover {
    color: #c33d17;
}

/* wrapper */
.wrapper {
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    margin: 20px auto 40px auto;
    padding: 0;
    background: rgba(34, 31, 31, 0.603);
    color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    position: relative;
}

/* lists */
.row ul {
    margin: 0;
    padding: 0;
}

.row ul.coinstats > li {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    list-style: none;
    display: inline-block;
    width: 13%;
    box-sizing: border-box;
    display: inline-flex;
    padding: 5px 10px;
}

.title ul.coinstats li {
    padding: 15px 13px;
    font-weight: bold;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .row ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 479px) {
    .row ul li {
        font-size: 13px;
    }
}

.name {
    width: 17% !important;
    text-align: left !important;
}

.coinrank {
    width: 5% !important;
    text-align: center;
}

.type {
    font-size: 12px;
    text-align: right;
}

/* rows */
.row {
    padding: 20px 0;
    height: 30px;
    font-size: 0;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease-out;
    border-top: 1px solid rgba(0, 0, 0, 0.603);
    background-color: rgba(34, 31, 31, 0.603);
}

.row:hover {
    background-color: rgba(26, 26, 26, 0.9);
    height: 105px;
}

.more-content {
    display: none;
}

.row:hover > .more-content {
    display: block;
}

@media only screen and (max-width: 767px) {
    .row:hover {
        height: 125px;
    }
}

@media only screen and (max-width: 359px) {
    .row:hover {
        height: 145px;
    }
}

.title {
    padding: 10px 0px 20px 0px;
    height: 45px;
    font-size: 0;
    background-color: rgba(34, 31, 31, 0.603);
    border-left: 3px solid rgba(255, 255, 255, 0.603);
}

.title:hover {
    height: 45px;
    background-color: rgba(34, 31, 31, 0.603);
    border-left: 3px solid rgba(255, 255, 255, 0.603);
}
/* 
@media only screen and (max-width: 767px) {
    .title-hide {
        display: none;
    }
} */

.type1 {
    border-left: 3px solid #1c616c;
}

.type1:hover {
    border-left: 3px solid #4fc0d2;
}

.type2 {
    border-left: 3px solid #1d6e4b;
}

.type2:hover {
    border-left: 3px solid #52d29a;
}

.type3 {
    border-left: 3px solid rgba(157, 121, 25, 0.7);
}

.type3:hover {
    border-left: 3px solid rgba(231, 196, 104, 0.7);
}

.type4 {
    border-left: 3px solid #952f12;
}

.type4:hover {
    border-left: 3px solid #eb7655;
}

/* row one - fadeIn */
/* .row-fadeIn-wrapper {
    opacity: 0;
    font-size: 0;
    height: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-out;
    animation: fadeIn 0.4s ease-out 2s 1 alternate;
    animation-fill-mode: forwards;
} */
/* 
.row-fadeIn-wrapper:hover {
    height: 35px;
} */

/* @media only screen and (max-width: 767px) {
    .row-fadeIn-wrapper:hover {
        height: 55px;
    }
}

@media only screen and (max-width: 359px) {
    .row-fadeIn-wrapper:hover {
        height: 75px;
    }
} */

.fadeIn {
    padding: 20px 0;
    font-size: 0;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

/* .fadeIn:hover {
    background-color: rgba(26, 26, 26, 0.9);
} */

/* row two - fadeOut */
/* .row-fadeOut-wrapper {
    font-size: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-out;
    animation: fadeOut 0.4s ease-out 8s 1 alternate;
    animation-fill-mode: forwards;
    opacity: 1;
    height: 65px;
} */
/* 
.row-fadeOut-wrapper:hover {
    height: 100px;
} */

/* update content */
/* .update-row {
    animation: update 0.5s ease-out 12s 1 alternate;
} */

/* .update1 {
    position: absolute;
    top: 25px;
    display: inline-block;
    opacity: 1;
    animation: update1 1s ease-out 12s 1 alternate;
    animation-fill-mode: forwards;
} */

/* .update2 {
    position: absolute;
    top: 25px;
    display: inline-block;
    opacity: 0;
    animation: update2 4s ease-out 13s 1 alternate;
    animation-fill-mode: forwards;
} */

/* more content */
ul.more-content li.split {
    position: relative;
    top: 13px;
    font-size: 13px;
    margin: 0;
    padding: 6px 13px;
    /* padding: 0 10px; */
    display: block;
    height: 50px;
    /* width: 100%; */
}

@media only screen and (max-width: 767px) {
    ul.more-content li.split {
        font-size: 11px;
    }
}

/* small content */
.small {
    /* color: rgba(230, 230, 230, 0.9); */
    font-size: 12px;
    /* padding: 0 10px; */
    margin: 0;
}

/* @media only screen and (max-width: 767px) {
    .small {
        display: none;
    }
} */

/* keyframe animations */
/* @keyframes fadeIn {
    from {
        background: rgba(34, 31, 31, 0.603);
        opacity: 0;
        padding: 0;
    }

    to {
        background: rgba(0, 0, 0, 0.603);
        opacity: 1;
        padding: 0 0 65px 0;
    }
}

@keyframes fadeOut {
    from {
        background: rgba(0, 0, 0, 0.603);
        opacity: 1;
        height: 65px;
    }

    to {
        background: rgba(34, 31, 31, 0.603);
        opacity: 0;
        height: 0;
    }
} */
